// light Mode

$main-color: #b80000;
$gray-color: #b1aeae;
$black-color: #000;
$white-color: #fff;
$light-gray-color: #f0f0f0;

// dark Mode


// $main-color: #930000;
// $gray-color: #b6afa6;
// $black-color: #e8e6e3;
// $white-color: #181a1b;
// $light-gray-color: #202325;
  // color: #d1cdc7 !important;
  // background-color: #181a1b !important;
